# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
did_keys/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# IDE
.vscode/*

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/latest/usage/project/#working-with-version-control
.pdm.toml
.pdm-python
.pdm-build/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
.idea/

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc
did_documents/user_09552145584df573/did.json
did_documents/user_09552145584df573/key-1_private.pem
did_documents/user_0a3f5c6743b15311/did.json
did_documents/user_0a3f5c6743b15311/key-1_private.pem
did_documents/user_15464838004023ec/did.json
did_documents/user_15464838004023ec/key-1_private.pem
did_documents/user_17a203fe9ff86284/did.json
did_documents/user_17a203fe9ff86284/key-1_private.pem
did_documents/user_1e1f7a636b58cc4e/did.json
did_documents/user_1e1f7a636b58cc4e/key-1_private.pem
did_documents/user_35542317ab115ba2/did.json
did_documents/user_35542317ab115ba2/key-1_private.pem
did_documents/user_37afcd99ee14d3fa/did.json
did_documents/user_37afcd99ee14d3fa/key-1_private.pem
did_documents/user_43a64dfd6df29d7f/did.json
did_documents/user_43a64dfd6df29d7f/key-1_private.pem
did_documents/user_4b4eaa4db8e00e17/did.json
did_documents/user_4b4eaa4db8e00e17/key-1_private.pem
did_documents/user_50d7a4c1fafe6d67/did.json
did_documents/user_50d7a4c1fafe6d67/key-1_private.pem
did_documents/user_51385868b79400c8/did.json
did_documents/user_51385868b79400c8/key-1_private.pem
did_documents/user_57cacb54a929880c/did.json
did_documents/user_57cacb54a929880c/key-1_private.pem
did_documents/user_5eeaba732944aac2/did.json
did_documents/user_5eeaba732944aac2/key-1_private.pem
did_documents/user_6705f80482c40859/did.json
did_documents/user_6705f80482c40859/key-1_private.pem
did_documents/user_6c61433bae236e2e/did.json
did_documents/user_6c61433bae236e2e/key-1_private.pem
did_documents/user_71a8f6259ffeec59/did.json
did_documents/user_71a8f6259ffeec59/key-1_private.pem
did_documents/user_7d9412cd9a127e5b/did.json
did_documents/user_7d9412cd9a127e5b/key-1_private.pem
did_documents/user_7e453a91a4d4a508/did.json
did_documents/user_7e453a91a4d4a508/key-1_private.pem
did_documents/user_849aa78c0523b162/did.json
did_documents/user_849aa78c0523b162/key-1_private.pem
did_documents/user_88052aea73cf28d3/did.json
did_documents/user_88052aea73cf28d3/key-1_private.pem
did_documents/user_928d0f5032728ce4/did.json
did_documents/user_928d0f5032728ce4/key-1_private.pem
did_documents/user_9ac513f6a0a55ad8/did.json
did_documents/user_9ac513f6a0a55ad8/key-1_private.pem
did_documents/user_9c65ba270700678a/did.json
did_documents/user_9c65ba270700678a/key-1_private.pem
did_documents/user_a46ddf68505012c2/did.json
did_documents/user_a46ddf68505012c2/key-1_private.pem
did_documents/user_a8b602232b8b3c65/did.json
did_documents/user_a8b602232b8b3c65/key-1_private.pem
did_documents/user_abdd4a86ad296b76/did.json
did_documents/user_abdd4a86ad296b76/key-1_private.pem
did_documents/user_b60ba54dc7d1c256/did.json
did_documents/user_b60ba54dc7d1c256/key-1_private.pem
did_documents/user_b80f27c9ecca5a5f/did.json
did_documents/user_b80f27c9ecca5a5f/key-1_private.pem
did_documents/user_b8b29336c5eb4f3d/did.json
did_documents/user_b8b29336c5eb4f3d/key-1_private.pem
did_documents/user_e4615c1ae37b73ad/did.json
did_documents/user_e4615c1ae37b73ad/key-1_private.pem
did_documents/user_f56c8f340fe881b8/did.json
did_documents/user_f56c8f340fe881b8/key-1_private.pem
did_documents/user_fa693ae0b4f201b6/did.json
did_documents/user_fa693ae0b4f201b6/key-1_private.pem
did_documents/user_fef35e3760152154/did.json
did_documents/user_fef35e3760152154/key-1_private.pem
did_documents/user_172dfcee289fdeea/did.json
did_documents/user_172dfcee289fdeea/key-1_private.pem
